/* main */
main {
  background-color: white;
  color: black;
  height: auto;
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
}
.promo {
  text-align: center;
  margin: 30px;
  margin-top: 140px;
}

nav .left img {
  width: 90px;
}

nav {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  align-items: center;
  border-bottom: 1px solid #dcdcdc;
  padding: 0px 5% 0px 5%;
}

nav .right a {
  text-decoration: none;
  color: black;
}

.slides {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slides .slide {
  display: none;
  float: left;
  transition: transform 0.5s ease;
}

.slides .slide img {
  width: 100%;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slides .navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.slides .navigation .prev,
.slides .navigation .next {
  cursor: pointer;
  padding: 16px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  user-select: none;
  transition: 0.6s ease;
}

.slides .navigation .prev:hover,
.slides .navigation .next:hover {
  background: rgba(0, 0, 0, 1);
}
/* box image start */
.my-container {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}

.my-menu-box1 {
  display: flex;
  flex-direction: column;
}
.my-menu-box2 {
  display: flex;
  flex-direction: column;
}
.my-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  width: 379px;
  height: 395px;
  padding: 2px;
}

.my-box img {
  width: 390px;
  height: 240px;
  margin-bottom: 20px;
}

.my-box h2 {
  text-align: center;
}
.my-box h4 {
  text-align: center;
  display: block;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
}
.my-box a {
  color: red;
  text-decoration: none;
  text-align: center;
}
/* box image end */
.container-luar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  /* background-color: red; */
}
.container-barang {
  background-color: #0a4d68;
  width: 1121px;
  height: 489px;
  margin: auto;
}

.container-barang h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 20px;
  color: white;
}
.container-dalam {
  width: 1020px;
  height: 389px;
  margin-left: 48px;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  background: linear-gradient(to bottom, #094056, #094056);
}

.container-dalam::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.container-dalam::-webkit-scrollbar-thumb {
  background-color: #0acc78;
  border-radius: 5px;
}

.container-dalam::-webkit-scrollbar-track {
  background-color: #0a4d68;
}
.barang-rekomendasi {
  padding: 10px;
  border-radius: 8px;
}
.barang-rekomendasi img {
  width: 194px;
  height: 194px;
}
.barang-rekomendasi img:hover {
  transform: scale(1.05);
}
.product-item-details {
  text-align: left;
  border-radius: 8px;
}
.product-item-details p {
  margin-top: 20px;
}

.barang-rekomendasi {
  background-color: white;
  width: 235px;
  height: 350px;
  margin: 10px;
}
@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .slides .navigation {
    top: 0;
    margin-top: 70px;
  }
  .slides .navigation .prev,
  .slides .navigation .next {
    font-size: 18px;
    padding: 13px;
  }
}

@media (max-width: 768px) {
  .slides .navigation .prev,
  .slides .navigation .next {
    font-size: 15px;
    padding: 10px;
  }
  main {
    top: 0;
    display: flex;
    flex-direction: column;
  }
  .my-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .slides .navigation .prev,
  .slides .navigation .next {
    font-size: 12px;
    padding: 7px;
  }
  .cntnr {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 360px) {
  .slides .navigation .prev,
  .slides .navigation .next {
    font-size: 11px;
    padding: 6px;
  }
  main {
    width: 100%;
  }
  .promo {
    top: 0;
    margin: 20px;
  }
}

/* end main */
